@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  font-family: 'Quicksand', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  padding: 3rem;

}

h1{
  color: rgb(233, 78, 78);
  font-size: 3rem;
  border-bottom: 3px solid rgb(233, 78, 78);
  max-width: fit-content;
  margin: 0 auto;
  margin-bottom: 1rem;
}

form{
  padding: 2rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

form button{
  font-size: 1.3rem;
  background-color: rgb(233, 78, 78);
  color: #fff;
  border: 3px solid rgb(216, 77, 1);;
  border-radius: 4px;
  padding: 0.4rem;
}

form button:hover{
  background-color:rgba(216, 1, 1, 0.3);
  color: rgb(216, 1, 1);
  border: 3px solid rgb(233, 78, 78);
}

form input{
  font-size: 1.3rem;
  border: 1px solid grey;
  border-radius: 4px;
  margin-right: 1rem;
  padding: 0.5rem;
}

.todo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.textoDeLaTarea{
  margin: 1rem;
  font-size: 1.3rem;
 
}

.todo button {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: rgb(233, 78, 78);
}

.todo button:hover{
  color:rgb(207, 58, 58);
}
